{% extends "home.html" %}

{% block content %}
<div class="container my-5">
    <div class="card shadow p-4">
        <form method="POST" action="{{ url_for('main.view_message', id=message.id) }}">
            <div id="message-content">
                {% if decrypted_message %}
                <pre>{{ decrypted_message }}</pre>
                {% else %}
                <pre>{{ message.body }}</pre>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Decrypt Message</button>
        </form>
    </div>
</div>
{% endblock %}